.view-settlement-list {
  .ant-checkbox-inner{
    height: 18px;
    width: 18px;
  }
  .ant-checkbox-checked .ant-checkbox-inner:after{
      left: 5px;
      top: 3px;
  }
  .ant-checkbox-indeterminate .ant-checkbox-inner:after {
    left: 4px;
    top: 7px;
  }
  .highlight {
	color: red;
  }
  .filter {
		margin-bottom: 15px;
		.item {
		  margin: 5px 10px;
		}
  }
  .ant-table-footer{
 		overflow: hidden;
 		.multiSettleBtn{
	  	float: right;
	  	margin-right: 50px;
	  }
 	}
  .info {
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
  }
  .marked {
    background: red;
    //color: white;
  }
  .checked {
    background: #ddd;
  }
  .bigger {
    font-size: 16px;
  }
  .unfinished {
    color: red;
  }
  .done {
    color: green;
  }
}

.playModal{
	text-align: right;
	.ant-modal-title{
		text-align: left;
	}
	.ant-modal-footer{
		display: none;
	}
	#body{
		display: none;
	}
	#submit{
		margin-right: 8px;
    margin-bottom: 12px;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    padding: 4px 15px;
    font-size: 12px;
    border-radius: 6px;
    background: #2db7f5;
    color: #fff;
	}
	#cancel{
		margin-right: 8px;
    margin-bottom: 12px;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    padding: 4px 15px;
    font-size: 12px;
    border-radius: 6px;
    background: #d9534f;
    color: #fff;

	}
}
