.view-device-list .ant-select-search--inline .ant-select-search__field {
  width: 100%;
}
.tip-error {
  color: #f50;
  display: block;
  padding-left: 29.16666667%;
  width: 100%;
}
.has-error {
  color: #f50;
}
.button {
  margin: 3px;
}
.view-device-modal .ant-modal {
  width: 210px !important;
  margin: 0 auto;
}
.view-device-token-modal .ant-modal {
  width: 210px !important;
  margin: 0 auto;
}
canvas {
  display: block;
  margin: 40px auto;
}
