@dark-bg-color: #404040;

.application {
  height: 100%;
  width: 100%;
  .application-main {
    background: #FCFCFC;
    height: 100%;
    min-height: 500px;
    margin: 50px 0 0 (200px + 32px);
    padding: 16px;
    border: 1px solid rgba(0,0,0,0);
    & > section {
      & > header {
        border-bottom: 1px solid #ddd;
        height: 50px;
        line-height: 50px;
        padding-left: 15px;
        margin-bottom: 15px;
      }
      & > .toolbar {
        margin-bottom: 15px;
        line-height: 50px;
        .item {
          margin: 5px 10px;
        }
      }
      & > article {
        margin-bottom: 15px;
        button {
          margin: 0.2rem;
        }
      }
    }
    .ant-table table, .ant-table-thead > tr > th {
      text-align: center;
    }
    @media (max-width: 768px) {
      margin: 50px 0 0 0;
    }
  }
  .application-header {
    position: fixed;
    top: 0;
    left: 200px + 32px;
    right: 0;
    height: 50px;
    z-index: 99;
    padding: 0 16px;
    line-height: 50px;
    background-color: #fff;
    background-image: linear-gradient(0,rgba(0,0,0,0.042),#fff);
    border-bottom: 1px solid #eee;
    & > span {
      margin: 0 10px;
      display: inline-block;
      &.hamburg {
        display: none;
        @media (max-width: 768px) {
          display: inline-block;
        }
      }
    }
    .right {
      float: right;
      & > span {
        margin: 0 10px;
        display: inline-block;
        &.name {
          @media (max-width: 768px) {
            display: none;
          }
        }
        &.avatar img {
          width: 30px;
          height: auto;
          max-width: 100%;
          vertical-align: middle;
          border-radius: 50%;
        }
        i.anticon-logout {
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
    @media (max-width: 768px) {
      left: 0;
    }
  }
  .application-sider {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px + 32px;
    z-index: 100;
    padding: 16px;
    background-color: @dark-bg-color;
    .close {
      display: none;
      position: absolute;
      top: 24px;
      right: 24px;
      @media (max-width: 768px) {
        display: block;
      }
    }
    h2 {
      padding: 36px 0;
      font-size: 14px;
      height: 120px + (36px * 2);
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        color: #eee;
        text-shadow: 0 -1px 1px #111;
        display: block;
        img {
          width: 120px;
          display: block;
          margin: 0 auto;
        }
      }
    }
    nav {
      height: 100%;
      overflow: auto;
      padding-bottom: 150px;
      hr {
        border: none;
        border-bottom: 1px dashed #777;
      }
      footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 36px 0;
        text-align: center;
        .close {
          display: none;
          @media (max-width: 768px) {
            display: block;
          }
        }
      }
    }
    @media (max-width: 768px) {
      display: none;
      width: 100%;
      &.show {
        display: block;
      }
    }
  }
}
.table {
  .ant-table-content {
    overflow: auto;
  }
}
// 为了兼容暂时放在这

//.box-hide {
//  display: none !important;
//}


//.tip-error {
//  color: #f50;
//  display: block;
//  padding-left: 29.16666667%;
//  width: 100%;
//}
//
//
//.toolbar {
//  .school-filter {
//    display: inline-block;
//  }
//  .bar-button {
//    vertical-align: text-bottom;
//    line-height: 23px;
//    height: 32px;
//  }
//}
//
//.add-btn {
//  vertical-align: text-bottom !important;
//  line-height: 23px !important;
//  height: 32px;
//}
//
//.filter-form{
//  div.ant-select-selection-selected-value {
//    text-overflow: ellipsis;
//    overflow: hidden;
//  }
//}
//
//.radio-block {
//  display: block;
//  width: 100%;
//}
//.tips {
//  display: block;
//  margin-left: 24px;
//  font-size: 0.6rem;
//  @media (max-width: 768px) {
//    white-space: normal;
//    max-width: 150px;
//    overflow: auto;
//    line-height: 22px;
//  }
//}
//
//.button {
//  margin: 3px;
//}
