.detail {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .detail-head {
	border-bottom: 1px solid #ddd;
	margin: 0.3rem;
	padding: 0.3rem;
  }
  .detail-button {
	margin: 0.3rem;
  }
  .detail-body {
	margin: 0.3rem;
  }
  .detail-form {
	overflow: auto;
	padding: 0.5rem;
	margin-bottom: 1.5rem;
	button {
	  margin: 0.2rem;
	}
  }
  .detail-filter {
	padding: 0.3rem;
  }
}
