.radio-block {
  display: block;
  width: 100%;
  white-space: normal;
  //height:70px;
}
.form-wrapper {
  position: relative !important;
}
.button-wrapper {
  text-align: center;
  width: 100%;
}
.button-style {
  background-color: #108ee9 !important;
  position: absolute;
  top: 0px;
  right: 10%;
  @media (max-width: 320px) {
    right: -25px;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    right: -14px;
  }
}
.tips {
  color: #f50;
  display: block;
  margin-left: 24px;
  font-size: 0.6rem;
  @media (max-width: 768px) {
    white-space: normal;
    max-width: 150px;
    overflow: auto;
    line-height: 22px;
  }
}
.view-user-list {
  .code {
    position: relative;
    width: 180px;
    &.loading {
      img {
        opacity: 0.3
      }
    }
    .key-loading {
      position: absolute;
      top: 35%;
      left: 35%;
      font-size: 28px;
      zoom: 1.5;
    }
  }
  .code-tip {
    border: 1px solid #ccc;
    padding: 10px;
    float: left;
    width: 280px;
    position: absolute;
    top: 20px;
    left: 180px;
    p {
      line-height: 1.8;
    }
    .icon {
      font-size: 18px;
      margin-right: 10px;
      &.info {
        color: #108ee9;
      }
      &.success {
        color: #24ad87;
      }
      
    }
    .reset-wechat {
      color: #108ee9;
      text-decoration: underline;
      font-style: normal;
      cursor: pointer;
    }
    .check-wechat {
      margin-left: 10px;
      color: #108ee9;
    }
  }
}


