.radio-block {
  display: block;
  width: 100%;
  white-space: normal;
  //height:70px;
}
.form-wrapper {
  position: relative !important;
}
.button-wrapper {
  text-align: center;
  width: 100%;
}
.button-style {
  background-color: #108ee9 !important;
  position: absolute;
  top: 0px;
  right: 10%;
  @media (max-width: 320px) {
    right: -25px;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    right: -14px;
  }
}
.tips {
  color: #f50;
  display: block;
  margin-left: 24px;
  font-size: 0.6rem;
  @media (max-width: 768px) {
    white-space: normal;
    max-width: 150px;
    overflow: auto;
    line-height: 22px;
  }
}
.code-tip {
  p {
    line-height: 1.8;
  }
  .code {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .qrcode-tip {
    border: 1px solid #ccc;
    padding: 5px;
    float: left;
    width: 350px;
    .check-wechat {
      margin-left: 10px;
      color: #108ee9;
    }
  }
}

