.radio-block {
  display: block;
  width: 100%;
  border: 1px solid black;
  //height:70px;
}
.radio-small {
  //height: 40px;
}
//.icon {
//  font-size: 1rem;
//  color: #2db7f5;
//}
.tips {
  display: block;
  margin-left: 24px;
  font-size: 0.6rem;
  @media (max-width: 768px) {
    white-space: normal;
    max-width: 150px;
    overflow: auto;
    line-height: 22px;
  }
}
